<div class="alert alert-info">
<font size="5"><b>Комментарий ревьюера 2</b></font>

Привет еще раз. Спасибо, что доделал работу. Оформление комментариев по работе сохраняется. Только обозначим, что это вторая итерация. 

</div>

<div class="alert alert-info">
<font size="5"><b>Комментарий ревьюера</b></font>

Привет, Иван! Спасибо, что прислал задание:) Меня зовут Слепцов Артем и я буду проверять твой проект) Ты проделал большую работу над проектом. Будет здорово, если ты, надеюсь, не против, если я буду на ты, будешь отвечать на комментарии и участвовать в диалоге. Если обращение на ты неприемлемо, то прошу сообщить. 

Мои комментарии обозначены пометкой **Комментарий ревьюера**. Далее в файле ты сможешь найти их в похожих ячейках:
    
<div class="alert alert-success">Успех: Если фон комментария зелёный - всё сделано правильно. Рекомендации укажу таким же цветом;</div>
        
<div class="alert alert-warning">Совет: Оранжевый - некритичные замечания;</div>
        
<div class="alert alert-danger">Ошибка: Красный - нужно переделать. </div>
        
Не удаляй эти комментарии и постарайся учесть их в ходе выполнения данного проекта. Свои же комментарии ты можешь обозначать любым заметным способом. 

</div>

# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [ ]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [ ]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [27]:
data.isna().sum()

children                  0
days_employed             0
dob_years                 0
education                 0
education_id              0
family_status             0
family_status_id          0
gender                    0
income_type               0
debt                      0
total_income              0
purpose                   0
total_income_category     0
purpose_category          0
total_purpose_category    0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [28]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [29]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [30]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.137274
компаньон            1555.947387
пенсионер          365286.622650
предприниматель       520.848083
сотрудник            1572.328285
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [31]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [32]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [33]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [34]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [35]:
data.isna().sum()

children                  0
days_employed             0
dob_years                 0
education                 0
education_id              0
family_status             0
family_status_id          0
gender                    0
income_type               0
debt                      0
total_income              0
purpose                   0
total_income_category     0
purpose_category          0
total_purpose_category    0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [36]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [37]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [38]:
data.duplicated().sum()

0

In [39]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [40]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [41]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [42]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [43]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [44]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)
data['purpose_category']

0        операции с недвижимостью
1          операции с автомобилем
2        операции с недвижимостью
3           получение образования
4              проведение свадьбы
                   ...
21520    операции с недвижимостью
21521      операции с автомобилем
21522    операции с недвижимостью
21523      операции с автомобилем
21524      операции с автомобилем
Name: purpose_category, Length: 21331, dtype: object

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [45]:
children_to_debt = data.groupby('children')['debt'].agg(['sum','count'])
children_to_debt['debt_rate'] = children_to_debt['sum'] / children_to_debt['count'] * 100
children_to_debt.sort_values(by ='debt_rate', ascending= False)

           sum  count  debt_rate
children
4            4     41   9.756098
2          194   2052   9.454191
1          444   4808   9.234609
3           27    330   8.181818
0         1063  14091   7.543822
5            0      9   0.000000

**Вывод:** В целом можно сказать, что количество детей влияет на возврат кредита в срок:
для клиентов без детей количесвто долго сильно меньше чем для клиентов с детьми. 
Семьи с 5 детьми. мы можем убрать из общей выборки, т.к. их колличество сильно мало для наблюдения корреляции, однако и семей с 5 детьми и реальном мире немного.

<div class="alert alert-danger">
<font size="5"><b>Комментарий ревьюера</b></font>

Ошибка: Не вижу анализа пункта по числу детей. Пожалуйста, добавь данный расчет. 

</div>

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера</b></font>

Успех: Вывод не противоречит полученному результату. 

</div>

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [46]:
family_status_debt = data.groupby('family_status')['debt'].agg(['sum','count'])

def calc_ratio(row):
    return row['sum'] / row['count']

family_status_debt['ratio'] = family_status_debt.apply(calc_ratio, axis=1)

family_status_debt = family_status_debt[['sum', 'count', 'ratio']]
family_status_debt = family_status_debt.sort_values(by='ratio', ascending=False)
family_status_debt

                       sum  count     ratio
family_status
Не женат / не замужем  273   2796  0.097639
гражданский брак       385   4134  0.093130
женат / замужем        927  12261  0.075606
в разводе               84   1189  0.070648
вдовец / вдова          63    951  0.066246

**Вывод:** женатые клиенты имеют наибольшую задолженность, практически в три раза больше чем люди находящиеся в гражданском браке, возможно это связано в т.ч. с кредитом на свадьбу.
В целом видно что клиенты состоящие в браке (обычном или гражданском) имеют больше задолжностей, 
чем клиенты не состоящие в браке

<div class="alert alert-info"><b>Комментарий</b>
Переделал график, и выводы координально изменились. 
</div>

**Вывод v2:** 
Наибольший процент невозврата среди не состоящих в браке и живущих в гражданском браке, при этом видно что наибольшее количество кредитов берут клиенты  состоящие в браке.
При этом мы видем что клиенты находящиеся в разводе и вдовы имеют меньше всего невыплат, но и колличество таких клиентов мало.

<div class="alert alert-danger">
<font size="5"><b>Комментарий ревьюера</b></font>

Ошибка: Смотри, ты судишь по абсолютным значениям. Что это значит? Там, где больше людей имеют долг, те группы и опаснее для банка. Однако может быть так, что число должников в определенной группе 1000, а кредит брали 100000. Тогда процент должников в группе будет 1%. А в другой группе должников может быть 500, но кредит брали 1000 человек. Доля должников - 50%. Как думаешь, что невыгоднее для банка? Судить по абсолютным значениям мы не можем. Надо найти долю должников в каждой из групп, потом уже сравнить полученны результаты и сделать вывод о том, какая группа хуже всего возвращает кредит. 

</div>

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера 2</b></font>

Успех: Подумай над причинами получения такого результата. 

</div>

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [47]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.

def categorize_income(row):
    if row['total_income'] <= 30000:
        return 'до 30к'
    elif row['total_income'] <= 50000:
        return '30-50к'
    elif row['total_income'] <= 100000:
        return '50-100к'
    elif row['total_income'] <= 200000:
        return '100-200k'
    elif row['total_income'] <= 300000:
        return '200-300k'
    elif row['total_income'] <= 400000:
        return '300-400k'
    else:
        return '>400000'


# примените функцию методом apply()
data['total_income_category'] = data.apply(categorize_income, axis=1)
income_debt = data.groupby('total_income_category')['debt'].agg(['sum','count'])
income_debt['debt_rate'] = income_debt['sum'] / income_debt['count'] * 100
income_debt.sort_values(by ='debt_rate')

                        sum  count  debt_rate
total_income_category
>400000                  31    528   5.871212
30-50к                   21    349   6.017192
200-300k                250   3565   7.012623
300-400k                 75    946   7.928118
50-100к                 331   4073   8.126688
100-200k               1022  11848   8.625928
до 30к                    2     22   9.090909

**Вывод:** 
Из данных видно: 
* большое количество возвратов кредита в срок наблюдается у категории дохода у клиентов с доходом более 400000, можно предположить что людей с такой зарплатой большая фин.грамотность.
* у клиентов с доходом 30-50 также высокая ответственность, но возможно она связана с тем, что они не могут себе позволить платить пени по кредиту
* клиенты с доходом  50 - 300 тысяч рублей находятся примерно в одной группе по невыплатам. 
* однако самой большой категорией с невыплатами является 100 - 200 тысяч рублей
* до 30 мы не считаем топовым, потому что там недостаточная выборка на фоне остальных

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера</b></font>

Успех: Соглашусь с отмеченными пунктами. Последнее предложение также верно. Данная группа слишком мала для построения по ним надежных выводов. 

</div>

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [48]:
def categorize_purpose(row):
    if 'свад' in row['purpose']:
        return "Свадьба"
    elif 'образов' in row['purpose']:
        return "Образование"
    elif 'авто' in row['purpose']:
        return "Автомобиль"
    elif 'недвиж' in row['purpose'] or 'жил' in row['purpose']:
        return "Недвижимость"
    
data['total_purpose_category'] = data.apply(categorize_purpose, axis=1)
purpose_debt = data.groupby('total_purpose_category')['debt'].agg(['sum','count'])
purpose_debt['debt_purpose_rate'] = purpose_debt['sum'] / purpose_debt['count'] * 100
purpose_debt.sort_values(by ='debt_purpose_rate',ascending = True)

purpose_debt

                        sum  count  debt_purpose_rate
total_purpose_category
Автомобиль              400   4279           9.347978
Недвижимость            780  10751           7.255139
Образование             369   3988           9.252758
Свадьба                 183   2313           7.911803

<div class="alert alert-danger">
<font size="5"><b>Комментарий ревьюера</b></font>

Ошибка: У нас уже есть категоризованный параметр purpose_category. Именно его и стоит анализировать. Проверь, совпадут ли результаты анализа данного параметра с твоим выше. 

</div>

<div class="alert alert-info"><b>Комментарий</b>
Переделал задачу с использованием сводных таблиц, данные не изменились:
</div>

In [49]:
purpose_debt = data.pivot_table(values='debt', index='purpose_category', aggfunc=['sum', 'count'])
purpose_debt['debt_rate'] = purpose_debt['sum'] / purpose_debt['count'] * 100
purpose_debt.sort_values(by ='debt_rate',ascending = False)

purpose_debt

                          sum  count debt_rate
                         debt   debt
purpose_category
операции с автомобилем    400   4279  9.347978
операции с недвижимостью  780  10751  7.255139
получение образования     369   3988  9.252758
проведение свадьбы        183   2313  7.911803

**Вывод:** 
Выгодней всего давать кредиты на недвижимость и свадьбы, а у автомобилей и образования процент невыплат почти 10 %

<div class="alert alert-danger">
<font size="5"><b>Комментарий ревьюера</b></font>

Ошибка: На данном шаге рекомендуется использовать метод сводных таблиц (pivot_table()). Однако он является аналогом метода groupby(). Изучи метод сводных таблиц и примени его хотя бы в одном пункте анализа.

</div>

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера 2</b></font>

Успех: Отлично, метод сводных таблиц освоен. Он нам сильно пригодится в дальнейших проектах.

</div>

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Один из столбцов с отсутствующими данными "days_employed", поле может быть незаполненным, например если
в базу приходили данные из разных форм, а в одной из форм критерия обязательного заполнения в блоке опыт

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Медиана является средним значением в наборе данных, где половина значений находится ниже, а другая половина находится выше этого значения.

Заполнение пропусков медианным значением в  предпочтительно для количественных переменных потому что медиана является хорошей оценкой для среднего значения, которое не зависит от выбросов,то есть не повлияет на данные из-за небольшого количества значений, которые сильно отличаются от остальных.
Например если бы в столбце 'days_employed' , было слишком большое значение дней 999999, то оно бы не повлияло на медианное значение, но повлияло бы на среднее.

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера</b></font>

Успех: Все верно. Медиана более устойчива к наличию выбросов в данных.

</div>

### Шаг 4: общий вывод.

Напишите ваш общий вывод.
# Вывод
 ## Зависимость между количеством детей и возвратом кредита в срок
  В целом можно сказать, что количество детей влияет на возврат кредита в срок: для клиентов без детей количесвто долго сильно меньше чем для клиентов с детьми. Семьи с 5 детьми мы можем убрать из общей выборки, т.к. их колличество сильно мало для наблюдения корреляции, однако и семей с 5 детьми и реальном мире сильно меньше тех у кого например 2 детей.
  В принципе это логично, ведь дети это большой источник расходов.
 
 
 
 ## Зависимость между семейным положением и возвратом кредита в срок
Наибольший процент невозврата среди не состоящих в браке и живущих в гражданском браке, можно предположить что такие люди менее ответственны. 
При этом видно что наибольшее количество кредитов берут клиенты состоящие в браке. При этом мы видем что клиенты находящиеся в разводе и вдовы имеют меньше всего невыплат, но и колличество таких клиентов мало.
 ## Зависимость между уровнем дохода и возвратом кредита в срок
Из всех груп доходов наиболее выделяется группа 50-200к, возможно это связано с тем, что по данным на 2021 год мединанная зарплата по РФ составляла 35 675 рубля.
Исходя из этого я могу сделать предположение, что начав получать свыше 50 тысяч и выше клиенты начинат в принципе больше брать кредитов, т.к. им кажется что для жизни им хватает 35тысяч, значит остальные деньги они могут потратить, в том числе и на кредиты.

## Как разные цели кредита влияют на его возврат в срок
Вывод: Выгодней всего давать кредиты на недвижимость и свадьбы, а у автомобилей и образования процент невыплат почти 10 %

## Можно представить идеального клиента:
- он в разводе, или вдовец
- его доход составляет 30-50 тысяч рублей
- у него нет детей
- цель кредита: операции с недвижимостью

<div class="alert alert-danger">
<font size="5"><b>Комментарий ревьюера</b></font>

Ошибка: Выводы сделаны. Приведены ответы на главные вопросы проекта. В выводах можно приводить полученные ранее значения. Также можно расписать все, что было сделано в ходе проведения работы. Прошу лишь дописать часть про анализ доли долга в зависимости от числа детей, а также исправить вывод по пункту с анализом семейного положения. 

</div>

<div class="alert alert-info"><b>Комментарий</b>
Исправил вывод на основании семейного положения,а  так же дополнил анализом доли долга в зависимости от числа детей</div>

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера 2</b></font>

Успех: Выводы сделаны. Приведены ответы на главные вопросы проекта. В выводах можно приводить полученные ранее значения. Также можно расписать все, что было сделано в ходе проведения работы. 

</div>

<div class="alert alert-info">
<font size="5"><b>Комментарий ревьюера</b></font>

Ты проделал большую работу, молодец! Ты овладел важными на данном этапе обучения инструментами, а также довольно качественно их используешь. Критических замечаний немного. Однако их важно исправить. Думаю, ты справишься со всеми ними. Жду твою работу :)

</div>

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера 2</b></font>

Помарки исправлены, и теперь работа выполнена хорошо. Ты здорово поработал, молодец. Поздравляю со сданным проектом. Надеюсь, он был интересен и познавателен. Успехов в дальнейшем пути :)

</div>